
.modal-container {
    display: flex;
    width: 100%;
    height: 100%;

    img{
        width: 40px;
        height: 40px;
        
    }
    // COINN INFO CONTAINER
    .coin-info-container{
        width: 50%;
        height: 100%;
        padding: 10px;

        .coin-name{
            text-align: center;
        }

        .coin-description{
            margin-bottom: 15px;
            font-size: 20px;
        }

        .coin-details-list{
            list-style: none;
        }
    }

    .buy-coin-container {
        background-color: white;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1, p{
            color: black;
            background-color: white;
            margin-bottom: 10px;
        }

        img{
            width: 40px;
            height: 40px;
            background: white;
        }

        a{
            padding: 15px;
            background-color: rgb(102, 153, 211);
            border: 1px solid rgb(102, 153, 211);
            border-radius: 4px;

            &:hover{
                background-color: rgb(17, 85, 141);
            }
        }

        @media screen and (max-width: 900px) {
            width: 100%;
        }
    }
}

@media screen and (max-width: 900px) {
    .coin-info-container{
        display: none;
    }
    .buy-coin-container{
        background: red;
    }
}